body {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: linear-gradient(to bottom right, red, yellow);
    background-attachment: fixed;
}

canvas {
    background-color: black;
}